h1 {
  text-align: center;
  padding: 20px;
  border: 2px solid black;
  background-color: #B6CFB2;
}

#side {
  background-color: #B6CFB2;
  height: 100%;
  border: 2px solid black;
}

ul {
  list-style: none;
}

#about {
  margin-top: 80px;
  margin-bottom: 80px;
  font-size: 2em;
  text-align: center;
}
